body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
}

.header {
  font-family: 'Roboto Condensed';
  margin: 0;
}

.subheader {
  font-size: 1em;
}

.date-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  font-size: 0.7em;
}

.no-margin{
  margin: 0;
}

.datelist{
  max-width: 720px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.date-box {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 8vw;
  }
  
  .subheader {
    font-size: 4vw;
  }
}